button {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text-buttons {
  display: flex;
  align-items: center;
}

.banner__text-search,
.banner__text-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  flex: 1 1 180px;
  padding: 15px 25px;
  border-radius: 7px;
  font-family: $roboto;
  font-size: 20px;
  transition: $normal;
  font-weight: $semi;
}

.banner__text-search {
  background-color: $white;
  color: $black;
  margin-right: 27px;

  @include hover {
    background-color: $gray;
    filter: invert(100%);
  }
}

.banner__seachImage,
.banner__infoImage {
  max-width: 18px;
  max-height: 18px;
  margin-right: 7px;
}

.banner__text-info {
  color: $white;
  background-color: $gray;

  .banner__infoImage {
    filter: invert(100%);
  }

  @include hover {
    background-color: $white;
    color: $black;

    .banner__infoImage {
      filter: invert(0%);
    }
  }
}
.banner__informations-close,
.ganre__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 25;
  background-color: $gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ganre-closeImg,
  .banner__informations-closeImg {
    max-width: 90%;
    max-height: 90%;
    filter: invert(100%);
  }

  @include hover {
    transition: $normal;
    opacity: 0.8;
  }
}

.ganre__like-button {
  position: relative;
  background-color: $gray;
  border-radius: 50%;
  max-width: 50px;
  flex: 1 1 50px;
  height: 50px;
  border: $white solid 2px;

  @include after {
    transition: $normal;
    opacity: 0;
    position: absolute;
    content: "I like this!";
    top: -5px;
    right: -80px;
    border-radius: 20px;
    background-color: $gray;
    color: $white;
    font-size: 16px;
    padding: 2px 4px;
  }

  @include hover {
    @include after {
      opacity: 1;
    }
  }
}
